@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Para mantener la consistencia en la interfaz con respecto a los márgenes, los rellenos y los tamaños, definimos un sistema de unidades utilizando la regla de la grilla del 8. */
:root {
  font-size: 50%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

em {
  font-weight: inherit;
  font-style: normal;
}

article a {
  max-width: 46rem;
  display: flex;
  flex-direction: column;
  background-color: hsl(0deg, 0%, 100%);
  margin-bottom: 1rem;
  /*     @include responsive.respondTo('tablet'){
          border: 1px solid blue;
      }
      @include responsive.respondTo('desktop'){
          border: 1px solid red;
      } */
}
@media screen and (min-width: 85.375em) {
  article a:hover {
    opacity: 80%;
    transition: 200ms ease-out;
  }
}
article a h2 {
  color: hsl(240deg, 5%, 12%);
  font-family: Arial, Times;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 900;
  font-family: "Roboto Slab", serif;
  letter-spacing: -0.025rem;
  font-size: 2.5rem;
  line-height: 3.5rem;
  text-align: center;
  padding: 2rem 2rem 1rem 2rem;
  margin: 2.5rem 2.5rem 0rem 2.5rem;
  border: 0.125rem solid hsl(0deg, 0%, 80%);
  border-bottom: none;
}
article a h2 :hover {
  opacity: 80%;
}
@media screen and (min-width: 48em) {
  article a h2 {
    font-size: 2.25rem;
    line-height: 3.25rem;
    font-weight: 400;
  }
}
article a h2 em {
  color: hsl(240deg, 5%, 12%);
  font-family: Arial, Times;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 900;
  font-family: "Roboto Slab", serif;
  letter-spacing: -0.025rem;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: hsl(216deg, 98%, 40%);
}
article a h2 em :hover {
  opacity: 80%;
}
@media screen and (min-width: 48em) {
  article a h2 em {
    font-size: 2.25rem;
    line-height: 3.25rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 48em) {
  article a h2 {
    text-align: left;
  }
}
article a > p {
  color: hsl(240deg, 5%, 12%);
  font-family: Arial, Times;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0 2rem 1rem 2rem;
  order: 2;
}
article a > p :hover {
  opacity: 80%;
}
article a section {
  flex-grow: 1;
  border: 0.125rem solid hsl(0deg, 0%, 80%);
  border-top: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  margin: 0rem 2.5rem 2rem 2.5rem;
  padding: 0rem 2rem 2rem 2rem;
  justify-content: end;
  position: relative;
}
article a section p {
  color: hsl(240deg, 5%, 12%);
  font-family: Arial, Times;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2rem;
  font-size: 2rem;
  line-height: 3rem;
}
article a section p :hover {
  opacity: 80%;
}
article a section img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 7.07rem;
  height: 7.07rem;
  border-radius: 50%;
  border: 0.125rem solid hsl(0deg, 0%, 100%);
}
article a section::after {
  content: "";
  width: 7.07rem;
  height: 0.125rem;
  background-color: hsl(0deg, 0%, 35%);
  position: absolute;
  bottom: 0rem;
}
@media screen and (min-width: 48em) {
  article a section::after {
    display: none;
  }
}
@media screen and (min-width: 48em) {
  article a section {
    flex-direction: row;
    justify-content: flex-start;
  }
}
article a > img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  border: 0.125rem solid hsl(0deg, 0%, 80%);
  margin-bottom: 1rem;
}
@media screen and (min-width: 48em) {
  article a > img {
    margin-bottom: 0rem;
  }
}
article a > img ~ h2 {
  padding: 0;
  text-align: left;
  margin: 0;
  border: none;
  order: 0;
  margin: 0 2rem 1rem 2rem;
}
article a > img ~ section {
  flex-direction: row;
  margin: 0;
  border: none;
  margin: 0 2rem 1rem 2rem;
  padding: 0;
  justify-content: left;
  align-items: flex-end;
  order: 3;
}
article a > img ~ section p {
  color: hsl(240deg, 5%, 12%);
  font-family: Arial, Times;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2rem;
  line-height: 3rem;
}
article a > img ~ section p :hover {
  opacity: 80%;
}
article a > img ~ section::after {
  display: none;
}
article a p ~ h2 {
  color: hsl(240deg, 5%, 12%);
  font-family: Arial, Times;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 900;
  font-family: "Roboto Slab", serif;
  letter-spacing: -0.025rem;
  font-size: 2.5rem;
  line-height: 3.5rem;
}
article a p ~ h2 :hover {
  opacity: 80%;
}
@media screen and (min-width: 48em) {
  article a p ~ h2 {
    font-size: 2.25rem;
    line-height: 3.25rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 48em) {
  article a p ~ h2 {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 900;
  }
}
article a p ~ h2 em {
  color: hsl(240deg, 5%, 12%);
  font-family: Arial, Times;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 900;
  font-family: "Roboto Slab", serif;
  letter-spacing: -0.025rem;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: hsl(216deg, 98%, 40%);
}
article a p ~ h2 em :hover {
  opacity: 80%;
}
@media screen and (min-width: 48em) {
  article a p ~ h2 em {
    font-size: 2.25rem;
    line-height: 3.25rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 48em) {
  article a p ~ h2 em {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 900;
  }
}
@media screen and (min-width: 48em) {
  article a p ~ img {
    order: 4;
    margin-top: 1rem;
  }
}

main {
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/*# sourceMappingURL=index.css.map */
